---
layout: default
---

<div class="slide-activator"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
<div class="slide-out-nav">
	<div class="posts">
		{% for post in site.posts reversed %}
			<a href="/im-ausland/#{{ post.slug }}">{{ post.title }}</a>
		{% endfor %}
	</div>
</div>

<div class="hero-image main">
	<div class="main-links">
		<span class="main-links-icons"><a href="http://bobbylcraig.com/" title="Bobby's Blog"><i class="fa fa-rss fa-lg" aria-hidden="true"></i></a></span>
		<span class="main-links-icons"><a href="https://medium.com/@bobbylcraig/interactive-map-blog-study-abroad-project-ef87e3e938fb" title="Building This Blog"><i class="fa fa-legal fa-lg" aria-hidden="true"></i></a></span>
	</div>
	<h1 class="header-title">
    <span class="header-title__main">Im Ausland</span>
    <span class="header-title__part">A European Adventure</span>
    <span class="header-title__sub main-links">
      An interactive travel log by <a href="http://bobbylcraig.com/">Bobby Craig</a>.
    </span>
  </h1>
</div>
<div class="hero-image intro">
	<em>&ldquo;I'm broke as hell,<br>but at least I'm rich in memories.&rdquo;</em>
  <span>Dariya Koleva</span>
</div>
<div class="story">
	<div class="row">
		<div class="fuzz-out">
			{% for post in site.posts reversed %}
				<div class="blog-post" id="{{ post.slug }}">
					<h3 class="location-text">{{ post.location }}</h3>
					<h1 class="post-heading">{{ post.title }}</h1>
					<hr class="post-hr">
					<span>
						<a class="post-icon" href="/im-ausland/{{ post.url }}"><i class="fa fa-book fa-lg" aria-hidden="true"></i></a>
						<a class="post-icon" href="{{ post.map-link }}"><i class="fa fa-map-o fa-lg" aria-hidden="true"></i></a>
						<a data-clipboard-text="https://bobbylcraig.com/im-ausland/#{{ post.slug }}" class="post-icon copy-link-btn"><i class="fa fa-link fa-lg" aria-hidden="true"></i></a>
						{% if post.comments %}
						<a class="post-icon" href="/im-ausland/{{ post.url }}#comments"><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></a>
						{% endif %}
					</span>
					<hr class="post-hr">
					<!-- <h5><em>{{ post.date | date: "%B %-d, %Y" }}</em></h5> -->
					{{ post.content }}
				</div>
			{% endfor %}
		</div>
		<div class="fixed-box">
			{% include map.html %}
		</div>
	</div>
</div>

<div class="hero-image intro">
	<em>&ldquo;Sometimes you will never know the value of a moment until it becomes a memory.&rdquo;</em> <span>Dr. Seuss</span>
</div>

<div class="msg copied">Copied Link!</div>
<div class="msg error-copying">Error Copying Link!</div>
